<p>
  Hola, alguien en el sitio
  <%= @subscriber.name %>
  <%= link_to @subscriber.host, @subscriber.full_host %>
  te envió una notificación:
</p>

<p>
  <% @notification.parameters.each do |key, value| %>
    <div>
      <strong><%= key %>:</strong>
      <%= value %>
    </div>
  <% end %>
</p>
